html, head, body {
	height: 100%;
	width: 100%;
}

#loading_pic {
	width: 100%;
	height: 100%;
	background-color: black;
}

#main_container {
	padding-left: 1%;
	padding-right: 1%;
}

#header {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 40px;
	text-align: center;
	border-bottom: solid black 4px;
}

#main_input {
	height: 80%;
	
}

#input_container {
}

.input-lg {
	border: solid black 2px;
	border-radius: 20px;
	font-family: 'Gloria Hallelujah', cursive;
}

.input-lg:focus {
	background-color: rgba(255,255,0,0.7);
}
 
#dialogue_image {
	width: 200px;
	height: 200px;
}

#dialogue_input {
	/*position: absolute;
	top: 15%;
	right: 24%;*/
	margin-top: 20%;

}

.btn-lg {
	background-color: white;
	border: solid black 3px;
	border-radius: 20px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 25px;
}

.btn-lg:hover {
	background-color: rgba(255,255,0,0.7);
}

.btn {
	background-color: white;
	border: solid black 3px;
	border-radius: 20px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 22px;
}

.btn:hover {
	background-color: rgba(255,255,0,0.7);
}

#output_display {
	border: solid black 3px;
	border-radius: 20px;


}

#navigator {
	height: 80%;
	border: solid black 3px;
	border-radius: 20px;

}

#previous_btn {
	margin-right: 120px;
	min-width: 200px;
	min-height: 35px;
	background-color: white;
	border: solid black 3px;
	border-radius: 20px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
	
}

#previous_btn:hover {
	background-color: rgba(255,0,0,0.75);
}

#next_btn {
	min-width: 200px;
	min-height: 35px;
	background-color: white;
	border: solid black 3px;
	border-radius: 20px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
}

#next_btn:hover {
	background-color: rgba(255,0,0,0.75);
}



#output_detail {
	min-height: 110px;
	border: solid black 3px;
	border-radius: 20px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
	text-align: center;
}

#main_find {
	text-align: center;
}

#find_image {
	height: 55%;
	width: 55%;
	z-index: -1;
}

#find_container {
	margin-top: 32%;
	margin-left: 3.2%;
}
